body {
    font-family: "Lato", sans-serif !important;
    font-size: 15px;
    line-height: 1.5!important;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-menu-parent{
    background-color: #000;
    height: 46.5px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 99;
    padding-left: 0;
}

.menu-item{
    list-style: none;
    float: left;
}

.menu-item-link{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0 24px;
    line-height: 46.5px;
}

.menu-item:hover .menu-item-link{
    color: #000;
    background-color: #ccc;
}

.sub-menu{
    display: none;
    padding: 0;
}

.sub-menu:hover{
    display: block;
}
.sub-menu-item{
    background-color: white;
    list-style: none;
}

.sub-menu-link{
    text-decoration: none;
    color: #000;
    padding: 8px 16px;
    display: table;
    margin-right: 20px ;
}

.sub-menu-item:hover{
    background-color: #ccc;
}

.menu-item:hover .sub-menu{
    display: block;
}

.menu-item:last-child{
    float: right;
}

.menu-item:last-child:hover .menu-item-link{
    background-color: red!important;
    color:white;
}
 
.slide{
    width: 100%;
    display: block; 
    margin-top: 46.5px;
}

.content {
    padding: 64px 16px;
    margin: 0 20%;
}

.content-heading {
    padding: 10px 0;
}

.content-heading-h2{
    font-size: 30px!important;
    font-weight: 400;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 4px;
}

.content-heading-span {
    opacity: 0.6;
    font-style: italic;
    text-align: center;
    padding: 15px 0;
}

.content-heading-para {
    padding: 15px 0;
    text-align: justify;
}

.content-heading-img {
    padding: 32px 0;
    margin: 0;
    display: inline-block;
    width: 32%;
    text-align: center;
}

.content-heading-img-member {
    border-radius: 4px;
}

.content-heading-img-name {
    margin: 15px 0;
}

.content-heading-img-member:last-child {
    margin: 0;
}

.tour-dates {
    padding: 64px 16px;
    width: 100%;
    background-color: black!important;
}

.tour-dates-margin {
    padding-right: 20%;
    padding-left: 20%;
    background-color: #000;
}
.tour-dates-heading-center {
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 400;
}

.tour-dates-heading-opacity {
    color: white;
    opacity: 0.6;
    text-align: center;
    margin: 15px 0;
    font-style: italic;
}

.month {
    width: 100%;
    background-color: white;
}

.month-padding {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}

.month-border{
    padding: 0;
}

.month-padding-red {
    background-color: #f44336;
    color: white;
    margin: 0 0 0 16px;
    padding: 3px 8px;
}

.month-padding-number {
    float: right;
    background-color: black;
    color: white;
    border-radius: 50%;
    margin: 0 16px 0 0;
    padding: 0 8px;
}

.buy-tickets {
    background-color: black;
    width: 100%;
    box-sizing: inherit;
    clear: both;
    display: table;
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}

.buy-tickets-third {
    display: inline-block;
    width: 32%;
    margin-right: 2%;
    box-sizing: inherit;
}

.buy-tickets-third:last-child {
    float: right;
    margin: 0;
}

.buy-tickets-third-img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
}

.buy-tickets-third-bottom {
    background-color: white;
    padding: 0.15px 16px;
}

.buy-tickets-third-img:hover {
    opacity: 0.5;
}

.buy-tickets-third-place {
    margin: 15px 0;
}

.buy-tickets-third-opacity {
    margin: 15px 0;
    opacity: 0.5;
}

.buy-tickets-third-para {
    margin: 15px 0;
}

.buy-tickets-third-button {
    display: block !important;
    background-color: black;
    color: white;
    margin-bottom: 16px;
    padding: 8px 16px;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.buy-tickets-third-button:hover {
    background-color: #c9c8c8;
    color: black;
}

.buy-tickets-third-link{
    text-decoration: none;
}

.popup:target{
display: block;

}
.popup{
    padding-top: 100px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 100;
    animation: modalShow 0.2s linear;
}
    
    .pay-tickets-container{
        padding: 32px 16px;
        background-color: #009688;
        color: white;
        height: 129px;
        margin: 0 17%;
        position: relative;
}
    
    .pay-tickets-onclick{
        font-size: 24px;
        text-decoration: none;
        color: white;
        padding: 8px 16px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
    
    .pay-tickets-onclick:hover{
    background-color: #ccc;
    color: #000;
    }
    
    .pay-tickets-container-heading{
        font-family: "Segoe UI",Arial,sans-serif;
        font-weight: 400;
        margin: 10px 0;
        font-size: 30px;
        letter-spacing: 4px;
        text-align: center;
    }
    
    .pay-tickets-onclick{
        
        float: right;
    }
    
    .pay-tickets-content{
        margin: 0 17%;
        padding: 0 16px;
        background-color: white!important;
    }
    
    .cart-items{
        padding: 15px 0;
        margin: 0;
    }
    
    .cart-input{
        padding: 8px;
        border: 1px solid #ccc;
        width: 100%;
    }
    
    .user-items{
        margin: 15px 0;
    }
    
    .user-input{
        padding: 8px;
        border: 1px solid #ccc;
        width: 100%;
    }
    
    .pay-tickets-button{
        margin: 16px 0;
        padding: 16px;
        width: 100%;
        border: none;
        background-color: #009688;
        color: white;
    }
    
    .pay-tickets-button:hover {
        color: #000!important;
        background-color: #ccc!important
    }
    
    .pay-tickets-button-red{
        background-color: white;
        padding: 16px 0;
    }
    
    .pay-tickets-close{
        border: 0;
        background-color: #F44336;
        color: white;
        padding: 8px 16px;
    }
    
    .pay-tickets-close:hover{
        background-color: #ccc;
        color: #000;
        padding: 8px 16px;
    }
    
    .pay-tickets-para{
        float: right;
    }

  

.contact {
    padding: 64px 16px;
    margin: 0px 20%;
}

.contact-center-h2{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin: 10px 0;
    letter-spacing: 4px;
    font-weight: 400;
    text-align: center;
}
.contact-opacity {
    opacity: 0.6;
    font-style: italic;
    margin: 15px 0;
    text-align: center;
}

.contact-padding {
    padding: 32px 0;
}

.contact-row-w3{
    display: table;
    padding-bottom: 8px;
}
.contact-padding-adress {
    margin: 0 0 16px;
    font-size: 18px;
    width: 30%;
    display: inline-block;
    line-height: 1.5;
}

.contact-col{
    float: right;
}

.contact-padding-input{
    width: 48.2%;
    padding: 0 8px;
    border: none;
}
.contact-padding-input-half{
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
}

.contact-padding-input-full{
    padding: 8px;
    font-size: 15px;
    margin-left: 24px;
    border: 1px solid #ccc;
}

.contact-padding-input {
    
    padding: 0 8px;
    border: none;
    float: right;
}
.contact-padding-input-half {
    padding: 8px;
    display: block;
    float: left;
}

.contact-padding-input-full {
    display:block;
    width:95%;
}

.contact-padding-input-black{
    float: right;
}
.contact-padding-input-black {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px 18px;
    border: none;
    margin: 16px 0;
    font-size: 15px;
}

.contact-padding-input-black:hover {
    background-color: #ccc;
    color: black;
}

.map img {
    vertical-align: bottom;
    filter: grayscale(50%);
    width: 100%;
}

#footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 64px 16px;
    opacity: 0.60;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
}

#footer i:hover {
    color: rgba(0, 0, 0, 0.4);
}

.footer-medium {
    margin: 15px 0;
}

.footer-medium a {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}


@keyframes modalShow{
    from{
        top: -200px;
        opacity: 0;
    }
     
    to{
        top: 0;
        opacity: 1;
    }
}